@charset "utf-8";
@media all and (max-width: 1840px) {
    #gnb_all .gnb_al_bg {
        width:24%;
    }
    #gnb_all .gnb_al_ul {
        width:76%;
        margin-left:24%;
        padding:10% 6%;
    }
    #gnb_all .gnb_al_li {
        padding-right:4%;
        padding-bottom:8%;
    }
    #gnb_all .gnb_al_li.gnb_full {
        width:100%;
        padding:0;
        padding-right:5%;
        padding-bottom:8%;
    }
    #img1{
    float: center;
    position:relative;
    width:1200px;
    }
    .main_business_info {
        width: calc(100% - 20px);
        max-height:90%;
    }
    .main_business_info>p {
        padding:0 15px;
    }
    .main_business_info>p>span {
        display:inline;
    }
}
@media all and (max-width: 1480px) {
    /*여기서 로고 백그라운드, 로고 위치조정필요함다*/
    #logo {
        top:20px;
        left:20px;
        width:200px;
        height:150px;
        backgroud : black;
        overflow:hidden;
    }

    #gnb {
        max-width: calc(100% - 157px - 226px);
    }
    #gnb .gnb_1dli {
        padding:0 10px;
        font-size:18px;
    }
    .gnb_1da {
        padding:31px 18px;
    }
    #gnb #gnb_all_bg:before {
        top:80px;
    }
    #gnb_all .gnb_al_li .gnb_al_a {
        font-size:20px;
    }
    #gnb_all .gnb_al_li li {
        margin-bottom:20px;
    }
    #gnb_all .gnb_al_li li>a {
        font-size:14px;
    }
}

@media all and (max-width: 1240px) {
    #gnb {
        margin: 0 226px 0 157px;
    }
}

@media all and (max-width: 1150px) {
    #gnb .gnb_1dli {
        padding:0;
    }
    .gnb_1da {
        padding:31px 12px;
    }

}
@media all and (max-width: 1024px) {
    body {
        font-size:14px;
    }

    /* 상단 로고 */
    #logo {
        float:left;
        position:relative;
        top:0;
        left:0;
        margin-top:15px;
        margin-bottom:15px;
    }
    #logo.active>a {
        background-image: url('img/logo.png');
    }
    #gnb {
        position:absolute;
        top:0;
        right:0;
        width:100%;
        max-width:100%;
        margin:0;
    }
    #gnb .gnb_all_mob_open {
        display:block;
        position:absolute;
        top:15px;
        right:20px;
        width:30px;
        height:30px;
    }
    #gnb .gnb_all_mob_open>span {
        display:block;
        position:absolute;
        top:50%;
        left:50%;
        width:30px;
        height:2px;
        background:#fff;
        -webkit-transform:translate(-50%, -50%);
        transform:translate(-50%, -50%);
    }
    #gnb .gnb_all_mob_open>span:nth-of-type(1) {
        top:calc(50% - 8px);
        left:50%;
    }
    #gnb .gnb_all_mob_open>span:nth-of-type(3) {
        top:calc(50% + 8px);
        left:50%;
    }
    .scroll #gnb .gnb_all_mob_open>span {
        background:#000;
    }
    #gnb .gnb_close_btn {
        background:transparent;
        width:30px;
        height:30px;
        top:15px;
        right:20px;
    }


    #gnb_all {
        background:transparent;
    }
    #gnb_all.active {
        padding-top:60px;
    }
    #gnb_all .gnb_al_bg {
        display:block;
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:60px;
        background:#fff;
        border-bottom:1px solid #ddd;
        z-index:99;
        background:#fff !important;
    }
    #gnb_all .gnb_al_bg_close {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0, 0, 0, .5);
        opacity:0;
        visibility:hidden;
        z-index:0;
    }
    #gnb_all .gnb_al_bg_close.active {
        opacity:1;
        visibility:visible;
    }
    #gnb_all .gnb_al_ul {
        display:flex;
        flex-direction:column;
        position:relative;
        width:100%;
        height:auto;
        margin:0;
        padding:0;
        background:transparent;
    }
    #gnb_all .gnb_al_li,
    #gnb_all .gnb_al_li.gnb_full,
    #gnb_all .gnb_al_li.gnb_full li {
        float:none;
        display:block;
        position:relative;
        width:100%;
        padding:0;
    }
    #gnb_all .gnb_al_li,
    #gnb_all .gnb_al_li.gnb_full {
        padding:0;
        border-bottom:1px solid #ddd;
    }
    #gnb_all .gnb_al_li li>a {
        display:block;
        font-size:17px;
    }
    #gnb_all .gnb_al_li li>a br {
        display:none;
    }
    #gnb_all .gnb_al_li.gnb_full {
        order:3;
    }
    #gnb_all .gnb_al_li:nth-of-type(3) {
        order:4;
    }
    #gnb_all .gnb_al_li.member {
        order:5;
    }
    #gnb_all .gnb_al_li .gnb_al_a {
        display:block;
        margin:0;
        padding:15px 20px;
        border:0;
    }
    #gnb_all .gnb_al_li.active .gnb_al_a {
        color:#fff;
    }
    #gnb_all .gnb_al_li .bg {
        position:absolute;
        top:15px;
        right:15px;
        width:28px;
        height:28px;
        background-image:url('../img/icon-button-arrow-down-black.svg');
        background-repeat:no-repeat;
        background-size:12px 8px;
        background-position:center;
        -webkit-transition:all 0.3s ease-out;
        -moz-transition:all 0.3s ease-out;
        -o-transition:all 0.3s ease-out;
        transition:all 0.3s ease-out;
    }
    #gnb_all .gnb_al_li.active .bg {
        background-image:url('../img/icon-button-arrow-down-white.svg');
        -webkit-transform:rotate(-180deg);
        transform:rotate(-180deg);
    }
    #gnb_all .gnb_al_li.active {
        background:#005aaa;
    }
    #gnb_all .gnb_al_li ul {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:0;
        margin:0;
        padding:15px 20px;
        background:#f9f9f9;
        border-top:1px solid #ddd;
        opacity:0;
        visibility:hidden;
        overflow:hidden;
    }
    #gnb_all .gnb_al_li.active ul {
        position:relative;
        top:0;
        height:auto;
        opacity:1;
        visibility:visible;
    }
    .main_slider_info_box {
        padding:0;
        background-color:white;
        float:right;
    }
    .main_slider_info_box .main_slide_button {
        max-width:640px;
        margin:0 auto;
        background-color:black
    }
    .main_slider_info_box .main_slide_button>a {
        min-width:auto;
        width:calc(50% - 8px);
        max-width:180px;
        padding:17px 10px;
        text-align:left;
    }
    .main_slider_info_box .main_slide_button>a>span {
        display:block;
        padding:0;
        padding-right:15px;
        line-height:1.4;
        text-align:center;
    }
}
@media all and (max-width: 840px) {
    .main_slider,
    .main_slider_info {
        min-height:500px;
        height:calc(100vh - 95px);
        max-height:580px;
    }
    .main_slider_info_box>h2,
    .sub_title_info>h2 {
        font-size:30px;
        float : right;
    }
    .main_slider_info_box>h3 {
        font-size:20px;
    }
    .main_slider_info_box>p{
        font-size:18px;
    }
    .main_slider_info_box .main_slide_button>a>span{
        font-size:16px;
    }
    .main_slider_info_box>p {
        margin-bottom:25px;
    }
}
@media all and (max-width: 640px) {

    .main_slider_info_box {
        width:calc(100% - 40px);
        max-width:calc(100% - 40px);
    }
    .main_slider_info_box>h3 {
        margin-top:20px;
        margin-bottom:10px;
    }
}

@media all and (max-width: 520px) {
    .main_slider_info_box .main_slide_button {
        max-width:380px;
    }
    .main_slider_info_box .main_slide_button>a>span {
        max-width:90%;
        margin:0 auto;
    }
}

@media all and (max-width: 480px) {
    .main_slider_info_box .main_slide_button {
        max-width:340px;
    }
    .main_slider_info_box .main_slide_button>a {
        max-width:none;
        padding:14px 8px;
    }
    .main_slider_info_box .main_slide_button>a>span {
        padding-right:10px;
        font-size: 14px;
    }
}

_slider_info_box>h2 {
        font-size:26px;
    }
    .main_slider_info_box>p {
        font-size:14px;
    }
    .analysis_map_popup>div.analysis_map_info>dl>dt {
        font-size:22px;
    }
}