{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>DayCar &mdash; Your Neighborhood Dealer</title>
     <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <style>
      p {
        font-family: 'Nanum Gothic Coding', monospace;
      }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <link rel="stylesheet" href="{% static 'home/fonts/icomoon/style.css' %} ">

    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/aos.css' %}">



    <!-- line chart -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

    <!-- bar chart -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>


    <!-- pie chart -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/styless.css' %}">

    <!-- main -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="index.html">DayCar</a>
              </div>
            </div>

            <div class="col-9  text-right">


              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>



              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li><a href="/index" class="nav-link">차량 판매</a></li>
                  <li><a href="/buy" class="nav-link">차량 구입</a></li>
                  <li  class="active"><a href="/cars" class="nav-link">가격동향</a></li>
                  <li><a href="/topics" class="nav-link">Hot Topic</a></li>
                  <li><a href="/about" class="nav-link">About Us</a></li>
                </ul>
              </nav>
            </div>


          </div>
        </div>

      </header>

       <div class="ftco-blocks-cover-2">
      <div class="ftco-cover-1 overlay" style="background-image: url({% static 'home/images/hero_1.jpg' %});">

        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-5">
            <div class="feature-car-rent-box-2" style="z-index: 1000;position:relative">
                <h3>중고차 동향</h3>
                <div class="d-flex align-items-center bg-light p-3" >

                    <span>
                    <label><input type="radio" name="chk_info" value="자동차 연식별 평균 가격">
                   자동차 연식별 평균 가격</label>
                    <input type="radio"  name="chk_info" value="브랜드별 중고차 가격" checked="checked">
                    <label>브랜드별 중고차 가격</label>
                    <input type="radio" name="chk_info" value="구동방식 분포 (%)">
                    <label>브랜드별 분포 (%)</label>
                    <input type="radio" name="chk_info" value="브랜드별 분포 (%)">
                    <label>구동방식 분포 (%)</label>

                  </span>

                  </div>


              <!-- line chart -->
                <canvas id="myChart" width="800" height="500"></canvas>
                <script>

                  const xlabels = [];
                  const ytemps = [];

                  chartIt();

                  async function chartIt() {
                  await getData();
                   const ctx = document.getElementById('myChart').getContext('2d');
                  const myChart = new Chart(ctx, {
                     type: 'line',
                     data: {
                labels: xlabels,
                datasets: [{
                label: '국산차 년도별 평균 가격',
                data: ytemps,
                backgroundColor: ['rgba(255, 99, 132, 0.5)'],
                borderColor: ['rgba(255, 99, 132, 1)'],
                borderWidth: 1
                  }]
                 },

                options: {
                scales: {
                 y: {
                        beginAtZero: true
                            }
                                 }
                                         }
                                                  })};

            async function getData() {
            const response = await fetch("{% static 'year-price.csv' %}");
            console.log(response)
            const data = await response.text();

            const table = data.split('\n').slice(1);
            table.forEach(row => {
                const columns = row.split(',');
                const index = columns[0];
                xlabels.push(index);
                const brand = columns[1];
                ytemps.push(brand);
                // console.log(index, brand);
                });
                 }
                </script>

                <!-- box plot  -->
                <div id="chartContainer" style="height: 400px; width: 850px;"></div>
                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

                <script>
                window.onload = function () {

                var chart = new CanvasJS.Chart("chartContainer", {
	            animationEnabled: true,
	            title:{
		        text: "자동차 가격분석"
	                                },
	            axisY: {
		        title: "(단위: 만원)",
		        prefix: "₩",
		        interval: 5000
	            },
	            data: [{
		        type: "boxAndWhisker",
		        upperBoxColor: "#F8C471",
		        lowerBoxColor: "#DC7633",
		        color: "black",
		        yValueFormatString: "₩##0",
		        dataPoints: [
			{ label: "기아", y: [140, 1050, 2690, 8580, 1790] },
			{ label: "현대", y: [111, 1170, 2290, 5790, 1630] },
			{ label: "쌍용", y: [137, 857, 1640, 4899, 1280] },
			{ label: "제네시스", y: [1008, 3197, 5600, 11300, 3785] },
			{ label: "르노삼성", y: [130, 860, 1990, 4000, 1460] },
			{ label: "BMW", y: [850, 2665, 4890, 12900, 3790] },
			{ label: "벤츠", y: [549, 2650, 5794, 24500, 4150] },
			{ label: "아우디", y: [500, 1530, 3150, 23000, 2250] },
			{ label: "랜드로버", y: [790, 2860, 6295, 19300, 4000] },
			{ label: "포드", y: [270, 1899, 3650, 12500, 2900] },
			{ label: "쉐보레", y: [180, 680, 1592, 5630, 940] },
			{ label: "미니쿠퍼", y: [350, 1189, 2690, 5130, 1920] },
			{ label: "폭스바겐", y: [100, 890, 2050, 4800, 1290] }
		            ]
	                }]
                    });
                    chart.render();
              }
            </script>



            <!-- bar chart -->
            <canvas id="myChart2" width="100" height="65"></canvas>
            <script>

            const xlabel = [];
            const ytemp = [];

            chartIt();

            async function chartIt() {
                await getData();
                const ctx = document.getElementById('myChart2').getContext('2d');
                const myChart2 = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: xlabel,
                datasets: [{
            label: '자동차 브랜드별 분포도',
            data: ytemp,
            backgroundColor: ['rgba(255, 99, 132, 0.2)'],
            borderColor: ['rgba(255, 99, 132, 1)'],
            borderWidth: 1
                }]
                 },

            options: {
            scales: {
                    y: {
                        beginAtZero: true
                    }
                     }
                    }
                    })};


            async function getData() {
                const response = await fetch("{% static 'english.csv' %}");
                const data = await response.text();

                const table = data.split('\n').slice(1);
                table.forEach(row => {
                    const columns = row.split(',');
                    const index = columns[0];
                    xlabel.push(index);
                    const brand = columns[1];
                    ytemp.push(brand);
                    console.log(index, brand);
                    });
                    }
                </script>



                <!-- pie chart -->

               <div class="title text-center mb-5">
                  <h1>구동방식 분포</h1>
                  </div>

                    <canvas id="myChart3"></canvas>

            <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
                <script src="{% static 'home/js/script.js' %}"></script>

              </div>
            </div>
          </div>
        </div>
      </div>

    </body>


              <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <center> Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true" ></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a> </center>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

              </p>
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

    </div>

    <script src="{% static 'home/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'home/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'home/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'home/js/aos.js' %}"></script>

    <script src="{% static 'home/js/main.js' %}"></script>






</html>

