{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>DayCar &mdash; Your Neighborhood Dealer</title>
     <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <style>
      p {
        font-family: 'Nanum Gothic Coding', monospace;
      }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <link rel="stylesheet" href="{% static 'home/fonts/icomoon/style.css' %} ">

    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/styless.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/tabMenu.css' %}">


    <script src="static/home/js/jquery-3.3.1.min.js"></script>
    <script src = "https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script type="text/javascript" src="{% static 'home/js/tabMenu.js' %}"></script>


    <!-- main -->
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>



      <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">

            <div class="col-3 ">
              <div class="site-logo">
                <a href="/"><img src="static/home/images/car.gif" target="_blank" style = "width:30px; height:30px;">DayCar</a>
              </div>
            </div>

            <div class="col-9  text-right">


              <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>



              <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav ml-auto ">
                  <li><a href="/index" class="nav-link">차량 판매</a></li>
                  <li><a href="/buy" class="nav-link">차량 구입</a></li>
                  <li  class="active"><a href="/cars" class="nav-link">가격동향</a></li>
                  <li><a href="/topics" class="nav-link">Hot Topic</a></li>
                  <li><a href="/about" class="nav-link">About Us</a></li>
                      {% if user.is_authenticated %}
                    <p>{{ user.username }}</p>
                    <a href="javascript:{document.getElementById('logout').submit()}">로그아웃</a>
                    <form id="logout" method="POST" action="{% url 'logout' %}">
                        {% csrf_token %} <input type="hidden" />
                    </form>
                    {% else %}
                    <a href="{% url 'signup' %}">회원가입</a>
                    <a href="{% url 'login' %}">로그인</a>
                    {% endif %}
                </ul>
              </nav>
            </div>


          </div>
        </div>

      </header>

       <div class="ftco-blocks-cover-2">
      <div class="ftco-cover-1 overlay" style="background-image: url({% static 'home/images/hero_1.jpg' %});">

        <div class="container">
          <div class="row align-items-center" >

            <div id = "tabMenuBox" class="feature-car-rent-box-2" style="z-index: 1000;position:relative;height: 800px;width: 1300px;margin-top:100px;">
                <h3>중고차 동향</h3><br>
                <div id= "tab" class="d-flex align-items-center bg-light p-3" >

                    <span >
                    <input type="radio" id= avgpri name="chk_info" value="브랜드별 분포" checked><label style="color:black;">브랜드별 분포</label>
                    <input type="radio" id= brapri name="chk_info" value="구동방식 분포 (%)"><label style="color:black;">구동방식 분포 (%)</label>
                    <input type="radio" id= wdpi name="chk_info" value="자동차 연식별 평균 가격" ><label style="color:black;">자동차 연식별 평균 가격</label>
                    <input type="radio" id= brapi name="chk_info" value="브랜드별 중고차 가격" ><label style="color:black;">브랜드별 중고차 가격</label>
                    </span>
                </div>


                <div id = 'tabContent'>
                <div><canvas id="myChart" width="900px" height="450px"></canvas></div>
					<div></div>
                <div><canvas id="myChart2" width="900px" height="450px"></canvas></div>
					<div></div>
                <div><canvas id="myChart3" width="900px" height="450px"></canvas></div>
					<div></div>
                <div><img src = "{% static 'home/images/boxplot.jpg' %}" width="900px" height="450px"></div>
                    <div></div>
                </div>


              </div>

          </div>
        </div>
      </div>
       </div>

    </body>


              <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      <center> Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Your Neighborhood Dealer <img src="{% static 'home/images/car.gif' %}" target="_blank" style = "width:25px; height:25px;">Day Car </center>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

              </p>
            </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

    </div>

    <script src="{% static 'home/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'home/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.animateNumber.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'home/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'home/js/aos.js' %}"></script>

    <script src="{% static 'home/js/main.js' %}"></script>






</html>

<script>
const ctxb = document.getElementById('myChart').getContext('2d');
const myChart_b = new Chart(ctxb, {
    type: 'bar',
    data: {
        labels: ['기아', '현대', '쌍용', '아우디', '쉐보레', '르노삼성','벤츠','BMW','제네시스','폭스바겐','미니','랜드로버','포드'],
        datasets: [{
            label: '자동차 브랜드별 분포도',
            data: [33861,7508,3528,3414,2718,2542,2538,2471,2008,1682,1394,932,774],
            backgroundColor: [
                'rgba(40, 116, 166, 0.7)',
                'rgba(40, 116, 166, 0.7)',
                 'rgba(40, 116, 166, 0.7)',
                'rgba(40, 116, 166, 0.7)',
                'rgba(40, 116, 166, 0.7)',
                'rgba(40, 116, 166, 0.7)',
                 'rgba(40, 116, 166, 0.7)',
                'rgba(40, 116, 166, 0.7)',
                 'rgba(40, 116, 166, 0.7)',
                'rgba(40, 116, 166, 0.7)',
                 'rgba(40, 116, 166, 0.7)',
                'rgba(40, 116, 166, 0.7)',
                'rgba(40, 116, 166, 0.7)'
            ],
            borderColor: [
                'rgba(40, 116, 166, 0.7)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
    </script>


<script>
const ctxp = document.getElementById('myChart2').getContext('2d');
const myChart_p = new Chart(ctxp, {
    type: 'pie',
    data: {
        labels: ['2WD', '4WD','AWD'],
        datasets: [{
            label: '# of Votes',
            data: [53195,9263,2912],
            backgroundColor: [
            'rgba(241, 196, 15, 0.7)',
            'rgba(230, 126, 34, 0.7)',
            'rgba(19, 141, 117, 0.7)'
            ],


            borderColor: [
            'rgba(241, 196, 15, 0.5)',
            'rgba(230, 126, 34, 0.5)',
            'rgba(19, 141, 117, 0.5)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
    </script>

<script>
const ctxl = document.getElementById('myChart3').getContext('2d');
const myChart_l = new Chart(ctxl, {
    type: 'line',
    data: {
        labels: ['1992','1994','1999','2000','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022'],
        datasets: [{
            label: '가격',
            data: [315,300,449,500,250,242,280,307,340,461,473,579,740,766,967,1164,1349,1535,1710,2016,2654,2833,3223,3983],


            borderColor: [
                'rgba(54, 162, 235, 1)','rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)','rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)','rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)','rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)','rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)','rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)','rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)','rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)','rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)','rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)','rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)','rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
    </script>


<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
const ctxbox = document.getElementById('myChart4').getContext('2d');

const myChart_box = new CanvasJS.Chart(ctxbox, {
    animationEnabled: true,
	            title:{
		        text: "자동차 가격분석"
	                                },
	            axisY: {
		        title: "(단위: 만원)",
		        prefix: "₩",
		        interval: 5000
	            },
	            data: [{
		        type: "boxAndWhisker",
		        upperBoxColor: "#F8C471",
		        lowerBoxColor: "#F8C471",
		        color: "black",
		        yValueFormatString: "₩##0",
		        dataPoints: [
			{ label: "기아", y: [140, 1050, 2690, 8580, 1790] },
			{ label: "현대", y: [111, 1170, 2290, 5790, 1630] },
			{ label: "쌍용", y: [137, 857, 1640, 4899, 1280] },
			{ label: "제네시스", y: [1008, 3197, 5600, 11300, 3785] },
			{ label: "르노삼성", y: [130, 860, 1990, 4000, 1460] },
			{ label: "BMW", y: [850, 2665, 4890, 12900, 3790] },
			{ label: "벤츠", y: [549, 2650, 5794, 24500, 4150] },
			{ label: "아우디", y: [500, 1530, 3150, 23000, 2250] },
			{ label: "랜드로버", y: [790, 2860, 6295, 19300, 4000] },
			{ label: "포드", y: [270, 1899, 3650, 12500, 2900] },
			{ label: "쉐보레", y: [180, 680, 1592, 5630, 940] },
			{ label: "미니쿠퍼", y: [350, 1189, 2690, 5130, 1920] },
			{ label: "폭스바겐", y: [100, 890, 2050, 4800, 1290] }
		            ]
	                }]
                    });
                    chart.render();
                    }
    </script>